<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2021.1.0" targetFramework="net48" />
  <package id="LibGit2Sharp" version="0.26.2" targetFramework="net48" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.306" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
</packages>